<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose Blog</title>
</head>
<br>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <input type="text" name="post_title" placeholder="Title"></br></br>
        <textarea name="post_text" cols="30" rows="10" placeholder="Write Here...."></textarea></br>
        <input type="submit" value="submit">
    </form>
</body>
</html>